*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $color-bg;
  color: $color-text;
  box-sizing: border-box;
  position: relative;
  font-family: $font-family-body;
  font-size: 1.6rem;
  line-height: 1.6;
}

h1,
h2 {
  color: $color-text-lighter;
  font-family: $font-family-header;
}

h1 { font-size: 7.6rem; }

h2 { font-size: 3.6rem; }

h3 { color: $color-text-lighter; }

li { list-style: none; }

img {
  width: 100%;
}

a { 
  text-decoration: none;
  color: $color-primary;
  transition: color .3s;

  &:hover {
    color: lighten($color-primary, 15%);
  }
}