button, 
.btn {
  background-color: $color-orange;
  color: $color-bg;
  font-family: inherit;
  border: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 1.4rem 2rem;
  cursor: pointer;
  transition: background-color .2s;
  line-height: 1;
  font-size: 1.4rem;

  &:hover,
  &:focus {
    background-color: lighten($color-orange, 5%);
    color: $color-bg;
  }
}