button, 
.btn {
  background-color: $color-primary;
  border: none;
  color: $color-bg;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 1.4rem;
  line-height: 1;
  padding: 1.4rem 2rem;
  text-transform: uppercase;
  transition: background-color .2s;

  &:hover,
  &:focus {
    color: $color-bg;
    background-color: lighten($color-primary, 5%);
  }
}