.footer {
  background-color: $color-bg-darkest;
  padding: 8rem 0;

  &__logo {
    color: $color-primary;
    font-family: $font-family-header;
    font-size: 3.6rem;
    margin-bottom: 1rem;
  }

  &__text {
    display: flex;
    
    p { 
      max-width: 40rem;
    }
  }

  &__nav { 
    flex: 1; 
  }

  &__nav-list {
    display: flex;
    justify-content: flex-end;

    li { 
      margin-left: 4rem;
    }
  }

  @include whenMedium {
    &__inner { 
      text-align: center;
    }

    &__text {
      flex-direction: column;

      p { 
        margin: 0 auto;
      }
    }

    &__nav-list {
      flex-wrap: wrap;
      justify-content: center;

      li { 
        margin: 2rem 2rem 0 2rem;
      }
    }
    
  } // end of whenMedium

}