.footer {
  padding: 8rem 0;
  background-color: #1f1d1e;

  .logo {
    font-size: 3.6rem;
    font-family: 'Sacramento', serif;
    color: $color-orange;
    margin-bottom: 1rem;
  }

  &__text {
    display: flex;
    
    p { max-width: 40rem; }
  }

  &__nav { flex: 1; }

  &__nav-list {
    display: flex;
    justify-content: flex-end;

    li { margin-left: 4rem; }
  }

  @include whenMedium {
    &__inner { text-align: center; }

    &__text {
      flex-direction: column;

      p { margin: 0 auto; }
    }

    &__nav-list {
      justify-content: center;
      flex-wrap: wrap;

      li { margin: 2rem 2rem 0 2rem; }
    }
    
  } // end of whenMedium

}