.form {

  &__section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }

  label {
    font-size: 1.4rem;
    margin-bottom: .5rem;
    order: 1;
    text-transform: uppercase;
    transition: color .2s;
  }

  input,
  textarea {
    background-color: #554e51;
    background-color: lighten($color-bg, 10%);
    border: none;
    border-radius: 2px;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    order: 2;
    padding: 1.4rem;
    width: 100%;
  }

  textarea {
    height: 170px;
    resize: none;
  }

  input:focus ~ label,
  textarea:focus ~ label {
    color: $color-primary;
  }

}