.header {
  background-color: $color-bg-darkest;

  // positioning
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;

  &__nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav-list {
    display: flex;

    li {
      margin-left: 3.6rem;
    }

    a {
      color: $color-text;
      transition: color 0.2s;

      &:hover,
      &:focus {
        color: $color-primary;
      }
    }
  }

  &__logo {
    color: $color-primary;
    font-family: $font-family-header;
    font-size: 3.2rem;
    padding: 1.2rem 0;
    position: relative;
    z-index: 1000;
  }

  #nav-toggle {
    display: none;
  }

  @include whenMedium {
    #nav-toggle {
      // overwrite default button styles
      background-color: transparent;
      border: none;
      color: $color-text-lighter;
      line-height: 1;
      padding: 1rem;

      // positioning
      display: block;
      position: relative;
      z-index: 1000;

      // changes icon on menu toggle
      span {
        display: none;
      }
      .show {
        display: block;
      }
    }

    &__nav {
      background-color: $color-bg-darkest;

      // positioning
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      min-height: 100vh;

      // flex
      display: flex;
      justify-content: center;
      align-items: center;

      // transition set up
      opacity: 0;
      visibility: hidden;
      transition: all 0.2s;

      &.open {
        opacity: 1;
        visibility: visible;

        li {
          transform: translateY(0);
          opacity: 1;
          transition: opacity 0.2s, transform 0.2s;

          // creates staggered delay effect
          &:nth-child(1) {
            transition-delay: 0.1s;
          }
          &:nth-child(2) {
            transition-delay: 0.15s;
          }
          &:nth-child(3) {
            transition-delay: 0.2s;
          }
          &:nth-child(4) {
            transition-delay: 0.25s;
          }
          &:nth-child(5) {
            transition-delay: 0.3s;
          }
        }
      }
    }

    &__nav-list {
      flex-direction: column;
      align-items: center;
      font-size: 2.8rem;

      li {
        margin-left: 0;
        margin-bottom: 2.8rem;
        opacity: 0;
        transform: translateY(1rem);
      }

      a {
        padding: 0.8rem 1.4rem;
        color: $color-text-lighter;
      }
    }
  } // end of whenMedium
}
