.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    opacity: .1;
    animation: fadeIn 1.4s forwards;
    text-shadow: 2px 2px 0 rgba($color-orange, .8);
  }
}