.icon {
  // creates circle background
  background-color: $color-orange;
  border-radius: 100%;
  height: 4rem;
  line-height: 1;
  width: 4rem;

  // centers icon in background
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    color: #272526;
    display: block;
  }
}