@import '@globalStyles/variables';

.container {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.background {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
	opacity: 0.35;
}
.content {
	text-align: center;
}
.title {
	font-size: $font-size-9;
}
