@import '@globalStyles/variables';
@import '@globalStyles/mixins';

.container {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.background {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: 0;
	opacity: 0.35;
}

.title {
	font-size: clamp(#{$font-size-7}, 7.5vw, #{$font-size-9});
}

// stop FOUT on load
.title {
	opacity: 0;
	transition: opacity 0.5s;
}

:global(html.wf-active),
:global(html.wf-inactive) {
	.title {
		opacity: 1;
	}
}
