@import '@globalStyles/variables';
@import '@globalStyles/mixins';

.container {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.background {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
	opacity: 0.35;
}

.title {
	font-size: clamp(#{$font-size-7}, 7.5vw, #{$font-size-9});
}
