@import '@globalStyles/variables';

.button {
	padding: 1.4rem 2rem;
	border-radius: 2px;
	cursor: pointer;
	color: $color-text-accent-primary;
	font-size: $font-size-0;
	background-color: $color-cta;
	border: none;
	outline: none;
	display: inline-block;
	transition: all 0.2s;
	box-shadow: 0px 0px $color-primary;
	text-transform: uppercase;
	line-height: 1;

	&:hover,
	&:focus {
		background-color: $color-cta-hover;
		color: $color-text-accent-primary;
		box-shadow: 3px 3px $color-text-primary;
	}
}
