@import '@globalStyles/variables';

.icon {
	background-color: $color-primary;
	border-radius: 100%;
	height: 4rem;
	width: 4rem;
	line-height: 1;

	display: flex;
	justify-content: center;
	align-items: center;

	svg {
		color: $color-text-dark;
		display: block;
	}
}
