@import '@globalStyles/variables';

.icon {
	background-color: $color-primary;
	border-radius: 100%;
	height: 4rem;
	width: 4rem;
	line-height: 1;

	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.2s;

	svg {
		color: $color-text-accent;
		display: block;
	}
}

.small {
	height: 3.2rem;
	width: 3.2rem;
}
