@import '@globalStyles/variables';

.footer {
	background-color: $color-footer-background;
}

.flex {
	align-items: center;
}

.logo {
	color: $color-primary;
	font-size: $font-size-5;
	font-family: $font-family-title;
}

.body {
	max-width: 40rem;
}

.nav {
	text-align: right;

	a {
		margin-left: 4rem;
	}
}
