@import '@globalStyles/variables';

.title {
	color: $color-text-light-primary;
	font-size: $font-size-6;
	text-align: center;
	margin-bottom: 2.4rem;
}

.shadow {
	text-shadow: 1px 1px $color-primary;
}
