@import '@globalStyles/variables';

.title {
	color: $color-text-light-primary;
	font-size: $font-size-6;
}

.shadow {
	text-shadow: 1px 1px $color-primary;
}

.center {
	text-align: center;
}

.margin {
	margin-bottom: 3.2rem;
}
