@import '@globalStyles/variables';

.card {
	background-color: $color-background;
	border-bottom: 3px solid transparent;
	border-radius: 2px;
	box-shadow: 0 2px 13px rgba(#000, 0.1);
	max-width: 560px;
	padding: 4rem 2rem;
	transition: border-color 0.3s;

	&:hover {
		border-color: $color-primary;
		box-shadow: 0 3px 16px rgba(#000, 0.1);
	}
}

.title {
	margin: 2rem 0 1.2rem;
	font-family: $font-family;
	color: $color-text-primary;
}
