$color-primary: #e98976;

$color-text: #c1bcbe;
$color-text-lighter: #f1e9ed;

$color-bg: #272526;
$color-bg-darker: #222021;
$color-bg-darkest: #1f1d1e;

$font-family-body: 'Kumbh Sans', sans-serif;
$font-family-header: 'Sacramento', cursive;
