.cards {
  &__title {
    margin-bottom: 3rem;
    text-align: center;
  }

  &__container {
    display: flex;

    & > * {
      flex: 1;
      margin-right: 2rem;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  @include whenMedium {
    &__container {
      align-items: center;
      flex-direction: column;

      & > * {
        margin-right: 0;
        margin-bottom: 3rem;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  } // end of whenMedium
}
