*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $color-bg;
  color: #c1bcbe;
  box-sizing: border-box;
  position: relative;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
}

h1,
h2 {
  color: white;
  font-family: 'Sacramento';
}

h1 { font-size: 7.6rem; }

h2 { font-size: 3.6rem; }

li { list-style: none; }

img {
  width: 100%;
}

a { 
  text-decoration: none;
  color: $color-orange;
  transition: color .3s;

  &:hover {
    color: lighten($color-orange, 15%);
  }
}